[2021-05-15 13:32] AdityaSinghRathore opened #1 "Got my IP banned after too many refreshes"

[2021-05-15 14:44] sushrut111 commented on #1
Could you please describe the issue? I would love to know more on how this is caused due to extension's functionality.

[2021-05-15 14:55] AdityaSinghRathore commented on #1
Well to be honest I did hit refresh a lot. Probably nothing to do with the codebase.

[2021-05-15 14:57] sushrut111 commented on #1
Okay. I will close the issue then. Please feel free to suggest modifications and improvements through issues or even pull requests. Thanks for using my extension.

[2021-05-15 14:57] #1 closed

[2021-05-15 15:32] sushrut111 opened #2 "Make the autofill form look better"
The form which collects the data to be filled in the portal looks like this currently:

![Screenshot 2021-05-15 at 8 58 36 PM](https://user-images.githubusercontent.com/11269256/118369073-a4503400-b5c0-11eb-9266-7d40225373db.png)

it could look better by making use of some css frameworks.
Steps to get this form (reproduce the issue):
1. Clone the repository
2. Load the extension to chrome browser

[2021-05-16 15:16] Tnu02 opened #3 "Keyboard shortcut for edit form"
@sushrut111 It would be great if we implement keyboard shortcut to open the edit form.

[2021-05-16 16:11] sushrut111 commented on #3
Addressed in https://github.com/sushrut111/cowin-automation-extn/commit/c6799bf7774237b3bc00f0f7ca25d9a4150f05da

[2021-05-16 16:11] #3 closed

[2021-05-21 09:06] prayuj commented on #2
Hi @sushrut111 , I can take this issue up. I'll use bootstrap!

[2021-05-21 09:29] sushrut111 commented on #2
Sure. Please go ahead. I hope you have checked how the elements are created and there isn't any HTML file.
Feel free to reach out if you need any clarifications.

[2021-05-21 09:29] sushrut111 commented on #2
Assigned to you

[2021-05-21 09:29] kshitij-srv opened #6 "Add an optional field to provide preferred vaccination centre names"
The Pincode search on Cowin gives arbitrary results in some cases. In my case for example it shows one centre that is close and another that is too far. Other nearby centres are ignored in the result.
When searching by district, auto selection can sometimes result in selection of centres that are far away too.

To curb this issue, there could be an optional field where user can provide certain vac

[2021-05-21 09:40] sushrut111 commented on #6
Hi Kshitij, thank you for the feedback. Actually just now I created a release with features you asked for.
You can now add comma separated keywords in the form for preferred center and only those centers will be selected for booking.
This option, however, is not available for the pincode based search.

With this option, you can basically get the slot with just a click of confirm button.

I am keep

[2021-05-21 11:12] kshitij-srv commented on #6
Wow this is the fastest I have ever seen an issue being resolved! 🙂  Kudos for keeping up the great work.
I installed the latest release. Haven't been able to verify it yet. Will keep you updated 👍

[2021-05-21 13:41] #6 closed

[2021-05-21 13:52] sushrut111 commented on #2
Fixed in #7
Thank you so much @prayuj

[2021-05-21 13:52] #2 closed

[2021-05-21 14:37] enigmatic241 opened #9 "Option to select preferred vaccination centre also."
There should be an option available to select vaccination centers also so that anyone will be able to get bookings for their preferred vaccination center only.

[2021-05-21 16:19] sushrut111 commented on #9
Hi this issue has been addressed in v3.x, please check that out in releases.
1. https://github.com/sushrut111/cowin-automation-extn/releases
2. https://github.com/sushrut111/cowin-automation-extn/wiki/How-install-extension-manually-from-github-release--(Before-the-version-is-published-to-chrome-web-store)

[2021-05-21 16:19] #9 closed

[2021-05-21 16:23] sushrut111 opened #10 "Add option to select the preferred vaccine"
The extension currently allows selection on filter Age 18 + / Age 45 +.
Add checkboxes to select the different options available
![Screenshot 2021-05-21 at 9 52 13 PM](https://user-images.githubusercontent.com/11269256/119168762-e117a180-ba7e-11eb-9002-1c4941725fa5.png)

[2021-05-21 16:34] prayuj commented on #10
I could take this up!

[2021-05-21 16:36] sushrut111 commented on #10
Sure! Go ahead.

[2021-05-21 20:21] kapishmalik commented on #10
@sushrut111 let me know if anything else comes up. I also want to contribute

[2021-05-22 05:29] sushrut111 opened #12 "[v3.1.0] Allow users to customise the interval between auto refresh on district search"
- Currently with the option `Enable Auto Refresh`, the search button is clicked every 2 seconds
- This interval should be customisable
- However this is not straightforward, because this interval is handled as part of findSlotAndBook() - a separate async thread

[2021-05-22 05:30] sushrut111 commented on #12
@kapishmalik
Here is another issue, if you are interested.

[2021-05-22 05:32] kapishmalik commented on #12
Sure I ll take this up

[2021-05-22 16:01] sushrut111 commented on #12
@kapishmalik Please let me know if you need any help.
Also, if you will not be able to take this up at the moment, we can keep this issue open to others if anyone is interested, thanks!

[2021-05-22 16:07] kapishmalik commented on #12
Hey you can keep this issue as opened. I didn't get time today.

[2021-05-22 16:10] sushrut111 commented on #12
Thanks for letting me know!

[2021-05-23 06:33] abhishek170996 opened #17 "Something went Wrong issue faced while booking"
I tried to book via pin code but after trying with pin several time it shows something went wrong
after this issue you cannot do anything tried to login again it says wait for 180 sec .
If I get this error again will share video link or image.

[2021-05-23 07:10] dAKsh-Mido commented on #17
wait dev would look to your query soon when he gets some time

[2021-05-23 07:14] negi39 commented on #17
![Screenshot_20210523_123900](https://user-images.githubusercontent.com/84657771/119251532-a455c280-bbc4-11eb-9619-114e404b439a.jpg)
Something went wrong

[2021-05-23 07:21] negi39 commented on #17
Everything is work perfectly. I think this is a last issue (something went wrong).
Please take a time but solve this issue.

[2021-05-23 07:36] sushrut111 commented on #17
This happens when you send too many requests to cowin portal within a short span of time. This cannot be avoided through the extension. All you can do is not use the "Enable Auto Refresh option".
You can use some other [extension](https://chrome.google.com/webstore/detail/auto-reload-page/cggooibcfafefodnecpcbgiebbjjpnpb) to refresh page periodically:

[2021-05-23 07:36] #17 closed

[2021-05-23 10:20] manasshukla1 opened #19 "Add option to book for multiple beneficiaries"
@sushrut111 Please add an option to book slots for multiple beneficiaries and to optional option to select own preferred centre.

[2021-05-23 11:19] rishrockstar opened #20 "Need More Filter Two Minutes Jobs"
Hi,
Like You Added Age Group Filter
Same Add for
Vaccine Name: Covidshield/Covaxin/Spuntik V
Amount: Paid/Free

It will be more precise for automate booking

[2021-05-23 11:24] p4i1 commented on #19
1. booking of Multiple beneficiaries is disabled by cowin.
2. center preference is added in the latest update. chrome extension will take time to update.
2a) you can use the Mozilla extension which is updated
2b) can add the extension manually in chrome. instructions are provided in the readme.
@sushrut111 please correct if mis-informed.

[2021-05-23 11:25] p4i1 commented on #20
That feature added in the latest update. chrome extension will take time to update.
2a) you can use the Mozilla extension which is updated
2b) can add the extension manually in chrome. instructions are provided in the readme.

[2021-05-23 11:36] rishrockstar commented on #20
Yup, I had seen after pulling code.

[2021-05-23 11:36] #20 closed

[2021-05-23 11:42] sushrut111 commented on #10
Fixed in #13

[2021-05-23 11:42] #10 closed

[2021-05-23 11:43] sushrut111 commented on #19
Thanks for responding @p4i1
The information is correct

[2021-05-23 11:43] #19 closed

[2021-05-23 11:45] amankapoor opened #21 "Please add option to set refresh time"
Hi, please provide an option to change refresh time. The current refresh time of 2 seconds triggers something as they show a toast notification saying 'something went wrong' after multiple refreshes.

Also, it may lead to more severe restriction by their firewall because it has happened with me when I was playing with their API and exceeded the rate limit.

Thanks again for this extension. Ability

[2021-05-23 12:08] amankapoor commented on #21
I manually changed the code to set refresh interval as 10s, but I still got 'something went wrong' error. The problem might be something else.
![image](https://user-images.githubusercontent.com/8210816/119259791-923c4a00-bbed-11eb-9a93-1d866b3d43c1.png)

[2021-05-23 12:11] #21 closed

[2021-05-23 12:24] sushrut111 commented on #21
https://github.com/sushrut111/cowin-automation-extn/releases/tag/v3.3.0-autorefresh

[2021-05-23 15:59] sushrut111 commented on #12
Fixed in https://github.com/sushrut111/cowin-automation-extn/releases/tag/v3.3.0-autorefresh

[2021-05-23 15:59] #12 closed

[2021-05-24 05:36] manasshukla1 commented on #19
@p4i1 @sushrut111
1. Booking of multiple beneficiaries is  not disabled. You can easily book through python script, please refer this(github.com/pallupz/covid-vaccine-booking).

If the same can be implemented in this extension then it would be great.
Thanks.

[2021-05-24 05:41] sushrut111 commented on #19
@manasshukla1 This extension exclusively runs on top of the cowin portal (https://selfregistration.cowin.gov.in/)
Cowin portal has disabled option to book for multiple beneficiaries. It was available before - and the extension supported that as well, but right now it if disabled.

The python script you mentioned is independent client with its own UI(CLI) and does not run on the top of cowin portal

[2021-05-24 07:33] manasshukla1 commented on #19
Well that's also fine.

[2021-05-24 09:38] Dhanushrajashekar opened #24 "Add automatic schedule please"
Please add an automatic schedule button every time i need to select schedule option after entering the otp thats the only drawback for now....oh and yeah is there anyway to automatically verifying the otp in the website!!! from phone to pc

[2021-05-24 09:59] Dhanushrajashekar opened #25 "Not getting otp but leaves with an error need help with it"
![tempsnip](https://user-images.githubusercontent.com/70057181/119331312-d6d6ec80-bca4-11eb-8bb0-75b6d8305c4e.png)

[2021-05-24 11:24] p4i1 commented on #25
@Dhanushrajashekar that's the new update from cowin. to bypass 180s cooldown either use VPN to india or change your network.

[2021-05-24 14:27] niinpatel opened #27 "increase automatic refresh time (from 2 seconds to something like 5 seconds)?"
I think there's some kind of rate limit on their servers that if you query too frequently they raise an error.

[2021-05-24 14:41] sushrut111 commented on #27
Already handled in lastest version. It is not available on chrome store, but you can install from here: https://bit.ly/cowin-booking-rm

[2021-05-24 14:41] #27 closed

[2021-05-24 14:42] #25 closed

[2021-05-24 14:42] sushrut111 commented on #24
no plans to add automatic otp detection.

[2021-05-24 14:42] #24 closed

[2021-05-25 05:08] rishi684 opened #29 "Not working in kiwi"
In past it working fine in kiwi browser. But now above edit button not working. Whenever i click popup not open to edit details
![Screenshot_2021-05-25-10-38-29-279_com kiwibrowser browser](https://user-images.githubusercontent.com/84761860/119442400-63d18280-bd45-11eb-83eb-a9ba86a362ee.jpg)

[2021-05-25 09:31] sn99 opened #30 "Add more time-slots"
I have seen some of the slots are in:

- `9:00 a.m to 10:00 am`
- `10:00 a.m to 11:00 a.m`
- `11:00 a.m to 12:00 p.m`
- `12:00 p.m to 1:00 p.m`

[2021-05-25 09:51] hpk22 opened #31 "Can you add feature of auto read otp"

[2021-05-25 10:55] Ronak1991 opened #32 "Vaccine Dose filter(If possible add a filter for Dose 1 or Dose 2)"
If possible add a filter for Dose 1 or Dose 2

[2021-05-25 12:51] sushrut111 commented on #32
When you try to book a slot the cowin portal already filters it

[2021-05-25 12:51] #32 closed

[2021-05-25 12:53] sushrut111 commented on #31
It would need more technicalities and people may find it difficult.

[2021-05-25 12:53] #31 closed

[2021-05-25 12:54] sushrut111 commented on #30
These 4 slots are indicative. Under the hood, the extension just considers the slot number.

[2021-05-25 12:54] sushrut111 commented on #29
The extension has been updated now and should be working.

[2021-05-25 12:54] #29 closed

[2021-05-25 16:19] rishi684 commented on #29
Thnx.. now its working

[2021-05-25 17:52] RonaldRegan69 opened #33 ""Confirm booking on automatically on captcha page" not working"
Hey
Even with option selected The booking stops at the captcha place.

[2021-05-25 17:53] RonaldRegan69 opened #34 "Extension makes noise periodically"
Why does it make noise after some time ?

What does it mean.

Great work on the extension btw.

[2021-05-25 18:19] sushrut111 commented on #34
It is to tell you that your session has been expired. That's when you log out and enter OTP again.

[2021-05-25 18:19] #34 closed

[2021-05-25 18:21] sushrut111 commented on #33
It gets clicked if captcha is entered that is for sure.
You will either get a vaccine or it will show an errror - your request did not get through or something and that error goes away quickly. That might be creating an illusion that it is not being clicked.

[2021-05-25 18:21] #33 closed

[2021-05-25 18:38] Dhanushrajashekar opened #35 "Hello this is not an issue But see the comment below"
i really want to thank you that the vaccine bot worked like a charm i was able to book 3 slots in just 2 hours. Thank you so much man!! you are awesome

[2021-05-26 20:46] sushrut111 commented on #35
Thank you so much, your words make me feel good and inspire me to do more for people around me <3

[2021-05-26 20:46] #35 closed

[2021-05-26 20:48] sushrut111 opened #38 "Write detailed instructions on how to use this extension"
I would appreciate if someone can take this up and create a wiki like markdown document on how to use this extension and what the different fields in autofill form mean.
I will add it to the project's wiki.

[2021-05-27 02:11] anuppanjabi opened #39 "Similar Working for UMANG website"
I believe Umang website shows the slots earlier than the COWIN website and there is no CAPTCha there . Can u please try make something similar to this for the Umang Website .

[2021-05-27 02:29] venfah opened #40 "I dont see captcha captcha working now."
Now we see it is able to go to booking page and not able to fill the captcha. waiting there for-ever

[2021-05-27 05:59] sushrut111 commented on #39
I am not sure if I am going to take up one more extension.

I am not sure if umang does not really need captcha, else that will be very wrong for everyone who does not know that.

Let us see.

[2021-05-27 05:59] #39 closed

[2021-05-27 08:32] bfernandes1984 commented on #38
Other dates are still not showing
![16221043003567991741724374525307](https://user-images.githubusercontent.com/84900614/119793318-19dacf00-bef4-11eb-90ed-33cc5134891d.jpg)

[2021-05-27 08:35] anuppanjabi commented on #39
Both Umang and Arogya Setu don't need Captcha . Try buddy.  Just check the interface it's really very simple !

[2021-05-27 09:18] sushrut111 commented on #38
That will be fixed in upcoming version

[2021-05-27 13:30] bfernandes1984 opened #42 "Version 3.6.1 doesnt work"
Version 3.6.1 did not select the appointment automatically  .

[2021-05-27 17:58] abhishek170996 opened #44 "Phone number verification issue in Firefox with extension version 3.5.1"
https://www.awesomescreenshot.com/video/3913319?key=59ae1c60b37b0e8b5c109fbcea41a526

[2021-05-28 04:28] sushrut111 commented on #44
Thanks for letting me know about the issue in Firefox.
I will look at this.
Meanwhile you can continue to use the other features after login - as I have tested, rest of the extension works properly - just login is an issue. You can also use the extension on chrome.

[2021-05-28 04:29] sushrut111 commented on #42
If the issue is still being faced, please reopen this and add more details. There is not so much to act on unless you specify what the problem is.

[2021-05-28 04:29] #42 closed

[2021-05-28 05:16] dkvyas commented on #40
Can we have some kind of sound so manually enter captcha control in this chrome extension?

[2021-05-28 05:28] Pushkar-bhamare opened #46 "Vaccination choice is not available ( Covishild/Covaxin or Sputnik)"
Please provide the option to choose preferred vaccine

[2021-05-28 08:32] mayurkale007 opened #47 "How comma separate search works?"

[2021-05-28 13:00] sushrut111 commented on #47
Yes

You can use center preference with both search by pin and search by district

[2021-05-28 13:00] sushrut111 commented on #46
Are you using older version? This option is available in all versions after v3.3.0

[2021-05-28 13:00] #46 closed

[2021-05-28 13:05] bpanigrahi opened #48 "Getting CORS error"
<img width="1249" alt="image" src="https://user-images.githubusercontent.com/7499951/119988125-6c46e900-bfe3-11eb-925c-e75f7ff134f7.png">

[2021-05-28 13:06] sushrut111 commented on #48
Which version are you using? Try using version v3.6.1 or later. I have optimised it.

[2021-05-28 13:06] #48 closed

[2021-05-28 14:27] bpanigrahi opened #49 "Captch decoder logic"
Can you please share some info on how the captch decoder works.

Also, please point me to that code block of captch decoder.

[2021-05-28 17:44] mesumitm opened #50 "slot booking not working"
Even though the 15mins refresh works but the slot booking doesn't work even after selecting the preference. I can't see any movement on the screen whenever any slot is updated with the selected preference. Am I missing anything? I am using the latest version 3.7.0

[2021-05-29 05:43] sushrut111 commented on #49
Sure. I am thinking of writing it down.
For the code, you can find the enterCaptcha function in the contentScript.js file.

[2021-05-29 07:41] SDTheSlayer opened #53 "Add feature to go back to search page if appointment is not booked."
If the selected slot is available on search, but after selecting the time slot and captcha the booking does not go through due to the center being full, the site is stuck on the appointment page. Can implement a feature to go back to search page if the appointment is not booked. Thanks in advance :)

[2021-05-29 17:26] Ronak1991 opened #54 "Add booking confirmation voice massage."
If the slot booking is confirmed then the user should get the voice confirmation message of their booking.

[2021-05-29 17:40] Shweta200126 commented on #38
@sushrut111 Can I take this issue?

[2021-05-29 17:44] sushrut111 commented on #38
Yes sure. I will assign this to you.

[2021-05-29 18:32] Ronak1991 opened #55 "Vaccine filter is not working in 4.0"
The vaccine filter is still not working. I had selected Covaxin but the booking is confirmed for Covishield.

[2021-05-29 19:25] Ronak1991 commented on #55
This issue is coming when we mention a center in a preferred center column in which Covishield are available.

[2021-05-29 19:28] sushrut111 commented on #55
Can record the screen so that I can get a better idea? Given the recent changes that we did, this is not ought to happen.

[2021-05-30 05:00] sushrut111 commented on #53
That is a great suggestion. I will look try to look at it.
For time being, here are tips for you:
- Set minimum available slots to 5 or more, so that extension does not select the center with 1 slot and the chances increase.
- If you face such issue, you can just refresh the page without clicking back and the flow will be re-triggered.

[2021-05-30 05:03] sushrut111 commented on #40
If you click the slot manually instead of letting the extension do it, the captcha will not be filled. I know this was an issue and @prayuj has fixed it in v4.0.0

We could have, but there are limitations for inclusion of sounds.

[2021-05-30 05:03] #40 closed

[2021-05-30 08:30] rohilv opened #57 "Indicate what the beep is for"
Hi,

I filled the form and set the refresh timer to 10secs.
I am getting beep on every 5/10secs but It is not proceeding ahead or showing any available slots.
I have applied filters like **18+** and **free**. I tried removing the **free** filter but it's the same.
I am also searching by District (Mumbai) and have mentioned my nearby address keywords in the input box provided.

[2021-05-30 08:36] rohilv commented on #57
OKay.
I just realised the beep was for session timeout (shown in document /tab title)
Just a suggestion, the indication could be better.
you can close this issue if you think it's irrelevant or suggestion won't be picked up

[2021-05-30 08:43] sushrut111 commented on #57
Suggestion is great and I understand the utility. Just that we are kind of working more towards the main functional stability.

If you are skilled for it, I would suggest you to go for it! Your suggestions/feedbacks/contributions are always welcome.

[2021-05-30 08:43] sushrut111 commented on #57
If anyone would like to take this issue up, you are welcome to do so!

[2021-05-30 08:46] sushrut111 commented on #50
Are you setting auto refresh? Could you check latest version and see if you are still facing it? Please update this with more information for us to check!

[2021-05-30 08:48] sushrut111 commented on #44
I think this is related to the input event for the mobile number input. If someone wants to take this up, please go ahead.

[2021-05-30 11:22] rohilv commented on #57
Options:
1. Add it to Wiki / Readme.md
2. Show a popup notifying the user about the session timeout and show possible action items. i.e. redirect to homepage.
3. Auto redirect to cowin home page asking for new OTP; This will automatically send another OTP on the user's mobile
4. Ask the user if he wants a session timeout notification beep or popup

[2021-05-30 11:33] rohilv commented on #53
I saw 60 slots available, the code went to the auto captcha and failed, mentioning that the slot was full and got stuck there.
I manually had to press the back button to reinitiate the search.
I think this is a great suggestion and can be taken up!

[2021-05-30 11:54] prayuj opened #58 "Refactor contentScript.js"
Hi!
Currently the `contentScript.js` includes two main parts in it, namely:
- The main logic of the automation which includes auto filling, filter selection, auto refresh, captcha fill, etc.
- The other is the HTML content that is injected onto the website which includes the Button on the upper left which triggers the Form Modal.

It would be nice to have the HTML part in a separate js file for be

[2021-05-30 11:59] prayuj commented on #49
It will blow your mind once you get how the captcha decoder works. Huge Kudos to @sushrut111 for the development. Waiting for that article 😄. Really smart engineering 🎊 !

[2021-05-30 12:08] rohilv opened #59 "Selecting booking for member"
Issue: After every renewal of the session the user is taken to the Login / OTP page, after which, a member selection screen appears which is currently not automated and waits for the user's input.

![Cowin-members-blur](https://user-images.githubusercontent.com/3790213/120103431-2ddd3580-c16d-11eb-9811-430045256a49.png)

User can be asked to input the position of the member he intends to schedule

[2021-05-30 12:16] sushrut111 commented on #59
That is a great suggestion.
The thing is once the member is selected automatically (of course, within a moment!) there will be no way to see if that was a correct member until you see the captcha screen - which is also automated. The search page (where you search by district or pincode) does not show any name there - it is a blind game - too confusing, isn't it? Therefore, let this be a point of m

[2021-05-30 12:16] #59 closed

[2021-05-30 13:44] rohilv commented on #58
taken

[2021-05-30 13:48] prayuj commented on #58
Assigned it to you!

[2021-05-30 14:11] sushrut111 commented on #57
@rohilv Why don't you take up this issue?

[2021-05-30 17:20] azimb commented on #53
+1

the automation enters the captcha, and when the booking fails, the program doesn't proceed further. It'd be quite useful if to have it go back and retry.

[2021-05-31 11:25] prakhar-agr opened #63 "Error Message : Something Went Wrong, Please try again!"
Hi,
First of all, a very thanks to you for this superb extension.
I have been using this app from your first release, and as of it, i need to acknowledge few glitches i found using the extension of chrome:
1. Initially, extension omits paid slots on selecting the free checkbox, but from last 2-3 days inspite of selecting free slot, paid slots are being booked.
2. Secondly, one of the major issue i

[2021-05-31 11:31] anilonline1370 opened #64 "Tool not working across multiple tabs"
I tried accessing search by district in first tab and search by pin code in second tab. When I write this in console '_console.log(window.localStorage.getItem("searchpref"))_;' , I get pincode instead of district in first tab. And I feel this affects the working of the bot as it is not able to successfully book available sessions.
Suggestion to solve this issue -
https://stackoverflow.com/question

[2021-05-31 11:36] prakhar-agr commented on #63
One more addon to Point No. 2, this issue is keeping persisting even when you do not refresh the page or execute the script(on dashboard).
I feel this issue is coming as of Logout timer sending multiple requests, as title keeps tickling too frequently.

[2021-05-31 12:08] sushrut111 commented on #64
It's not made for multiple tabs. I am aware of this.

[2021-05-31 12:08] #64 closed

[2021-05-31 13:14] sushrut111 commented on #63
Which version are you using?
Are you sure it is refreshing (searching again)?

Is it possible that you are mistaking filter application as refresh?

[2021-05-31 13:30] msnitish commented on #53
It would be even better if it can automatically move back to the previous page and start the flow.

[2021-05-31 13:47] msnitish opened #65 "Get extension update notification"
Can we have a feature to get a notification in some way which tells us to update the chrome extension ? I see changes being made to the bot every day and when the new changes are pushed to the chrome web store, does my extension also get updated automatically ? @sushrut111

[2021-05-31 13:59] sushrut111 commented on #65
The extension installed from chrome web store gets updated automatically when a new version is available in the store. However chrome store takes some time to review and publish the new version on the store.
If you are interested in new version getting released on github, you will have to manually install when a new version becomes available.
I generally post the updates to a telegram channel. You

[2021-05-31 13:59] #65 closed

[2021-05-31 21:44] msnitish commented on #65
Thank you.

[2021-06-01 05:06] #58 closed

[2021-06-01 05:31] sushrut111 commented on #38
@Shweta200126 Are you still on board?

[2021-06-01 07:23] rayarindam2111 commented on #49
Great improvisation!
The UMANG api, however does not require a captcha for booking vaccine slots.
You can try this project out: [Co-WIN-automated-slot-booking](https://github.com/rayarindam2111/Co-WIN-automated-slot-booking).

[2021-06-01 07:28] sushrut111 commented on #49
@rayarindam2111 Great work man!
You must already be aware, but UMANG is not very stable it seems. Many times, it did not let me log in.

[2021-06-01 07:34] rayarindam2111 commented on #49
Couldn't agree more. However, once you login, the UMANG token itself remains valid for 24 hours, so the UMANG login itself is a one-time process.
Moreover, when the demand goes high, I've noticed that the Co-Win server crashes more frequently while the UMANG endpoints hold more stable. The bookings I've made till now have been relatively hassle-free. Just a purely personal observation!

[2021-06-01 07:39] swapnilt2 opened #71 "Setting skip days to 1 still books today's slot in case center provides option for both vaccines"
I have set skip days to 1.
It still books today's slot in case center provides option for both vaccines.

Refer yellow highlighted part in attached image, where covaxin slot is skipped, but covishield slot is booked for today, even though i have set skip days to 1.

<img width="449" alt="sshot-1" src="https://user-images.githubusercontent.com/85155474/120284313-c1337980-c2d9-11eb-8e9f-d282ddee7336

[2021-06-01 07:43] sushrut111 commented on #49
I saw the cowin token that umang fetches is valid just for 15 mins as it is on the cowin portal. Not sure how you could be logged in for 24hrs. I will check this out.

This is not the correct place for discussion I guess. I would suggest you open a discussion thread in this repo or ping me on telegram https://t.me/sushrut111

[2021-06-01 07:53] rayarindam2111 commented on #49
The UMANG login token is valid for 24 hours - this login endpoint is the one that is not fail-safe and errors out frequently. The Co-Win login inside UMANG is however fairly fail-safe and works without issues - this login token needs to be refreshed every 15 minutes.

Sure, I'll go ahead and open a discussion thread on this. Thank you!

[2021-06-01 08:35] sushrut111 commented on #71
Makes sense. This could be an issue. We will check.

[2021-06-01 11:13] deeps69 opened #74 "state and district name are not filling automatically"
yesterday it was working fine but today when i went to check the slot the state name and the district name are not filling automatically. i have tried doing it again and again but same problem. i think it is some kind of bug pls fix it.
really helpful extension. ( version 4.0.1)
thankyou

[2021-06-01 11:13] rrrrravichandra3 opened #75 "Error Message : Something Went Wrong, Please try again!"
Great extension. It's working fast.

I checked the network tab and it is making 4 api calls after refresh interval time.

Previously it used to make 1 or 2 api calls every refresh interval time.

Making 4 calls is reaching API limit and thereby error message. I checked other cowin booking automations and they make 1 api call every refresh interval time.

[2021-06-01 11:16] rrrrravichandra3 commented on #74
Even I noticed this issue and it's intermittent.

[2021-06-01 12:25] prakhar-agr commented on #74
Even iam facing the same issue, but it gets auto-fill when you click on Pincode tab and back on District. Try Twice. It works for me.

[2021-06-01 13:19] jivanpuri opened #76 "Token gets expired in 3 mins now instead of 15 mins"
Token gets expired in 3 mins now instead of 15 mins; can you please set it to 3 mins default or externalize that as input. This would be a huge help.

[2021-06-01 14:32] prakhar-agr commented on #63
Previously, i was using older version, but recently updated to 4.0.1, and the issue persists.
Yes, its' refreshing. Iam uploading the video for your reference.
Iam very much sure, it's refreshing, not filter application.  Even after multiple errors popping up, after couple of auto-refreshes, the final booking screen appeared 3-4 times.

https://user-images.githubusercontent.com/85110242/120340942-

[2021-06-01 14:49] sushrut111 commented on #63
What refresh interval did you set? Can you show me in the video while it is happening?
Also can you guide me how I can reproduce this issue? I mean what all the things you did so that it started doing this?

[2021-06-01 14:54] deepakinchandigarh opened #77 "After New ui on cowin, date selection is crashing"
After New ui on cowin, selection for particular date is crashing.

[2021-06-01 15:16] prakhar-agr commented on #63
Interval is set to 5 seconds. Sure, but that happens randomly.
I actually did nothing, it's working for me. I generally switch to different internet connections.

[2021-06-01 15:21] sushrut111 commented on #76
The extension does not count 15 minutes, it checks the users token which contains expiration time. So if the cowin changes something session expires in 1 minute, the extension will get the correct expiration time and show it to you.

FYI, I just checked session does not expire in 3 minutes.

[2021-06-01 15:21] #76 closed

[2021-06-01 15:25] sushrut111 commented on #63
In the video the refresh seems to be faster than once per 5 seconds.
Also do not set refresh as five seconds, each of the searchRequest takes 2 backend calls.

[2021-06-01 15:31] prakhar-agr commented on #63
That's what i addressed in point no 3. Auto-refresh rate is quite frequent then entered value.
Setting up longer refresh rate reduces the booking chances though.

[2021-06-01 15:34] sushrut111 commented on #63
That's what.  I am not able to reproduce this issue and would need your help.

It is limitation from cowin

[2021-06-01 15:35] prakhar-agr commented on #63
Is there anything that can be done to avoid API rate limits?

[2021-06-01 15:35] sushrut111 commented on #63
No

[2021-06-01 15:38] prakhar-agr commented on #63
No issues, multiple connections resolves my issue.

[2021-06-01 15:39] #63 closed

[2021-06-01 15:41] sushrut111 commented on #77
The new UI is updated only for phone.
You can set skip days in extension and it will book without hassle.

If you still want, you can set Desktop Mode in your browser and things will work properly.

[2021-06-01 15:41] #77 closed

[2021-06-01 15:44] sushrut111 commented on #74
If you are using extension, please stick to the search mode you select in the extension. The flow is optimised for automatic booking. Manually changing mode will interrupt that.

If your internet connection is slow, you may see intermittent issues while selecting State/District as the list takes a while to load on slower connection.

[2021-06-01 15:44] #74 closed

[2021-06-01 15:44] sushrut111 commented on #75
Cowin changed something today, even without extension it is making  requests.

[2021-06-01 15:44] #75 closed

[2021-06-01 21:52] Shweta200126 commented on #38
@sushrut111 yup, I'm just gonna write it.

[2021-06-01 22:08] Shweta200126 commented on #38
Hey I don't understand this 'Refresh interval (seconds)", what does it do?

[2021-06-01 22:43] Shweta200126 commented on #38
- Add the extension to the browser

- Sign in/register to cowin.gov.in website

- Click on Edit Auto Fill Inputs in the left upper hand side for desktop browser:

The inputs are:

- Mobile number :
Your registered mobile number, same as the one you used for sign-in

- Pin code:
Write the 6 digit pin-code where you prefer to get vaccinated from.

- Name of the state:
The state you want to get vacci

[2021-06-01 22:50] Shweta200126 commented on #38
@sushrut111 Does this help?

[2021-06-02 11:42] azimb opened #80 "Cowin error "too many search requests""
Noticed today that while running the automation tool, whenever Search is hit, cowin complains "Too many search requests, please try after sometime!" (see screenshot below).

This is news to me, as the refresh interval hasn't been changed from 10 seconds.

![image](https://user-images.githubusercontent.com/38919150/120474280-a3434300-c3c5-11eb-95fd-f5fe1a773e3f.png)

[2021-06-02 11:46] azimb commented on #80
refresh interval is extended to `15 seconds`, but still seeing the same error

[2021-06-02 11:48] azimb commented on #80
logged out and re-logged in, and I don't get that anymore. I will verify whether this fix is temporary or permanent

[2021-06-02 11:53] azimb commented on #80
logged out and re-logged in, refresh interval is set to 15 seconds:

**same error, after about 5 minutes.**

[2021-06-02 11:54] Kroggieboy57 commented on #80
I had set it to 30 and got it

[2021-06-02 11:55] azimb commented on #80
got what, a successful booking, or got this error?

[2021-06-02 17:07] bhattankitk commented on #80
Tried with `50 seconds` interval and the same error `too many search requests` stopped!!

But in 10 mins, I found below error for 502 status, I think it's server error.
![image](https://user-images.githubusercontent.com/3056708/120521253-5de93a80-c3f2-11eb-851b-cdcca6ef7a6e.png)

[2021-06-02 17:11] azimb commented on #80
BTW - I was constantly getting that error but soon realized that it was still searching fine. And the tool also worked and booked an appointment :) thanks to @sushrut111 and team

[2021-06-02 17:31] sushrut111 commented on #71
Fixed in #79

[2021-06-02 17:31] #71 closed

[2021-06-02 19:39] sushrut111 commented on #57
Original beep is now replaced with voice.
We will take care of rest of the things when we can.

[2021-06-02 19:39] #57 closed

[2021-06-02 19:40] sushrut111 commented on #55
Closing for now, please reopen if issue persis.

[2021-06-02 19:40] #55 closed

[2021-06-02 19:41] sushrut111 commented on #50
Please reopen if you would like to give more info. Closing it cosnidering this is resolved.

[2021-06-02 19:41] #50 closed

[2021-06-02 19:42] sushrut111 commented on #80
I and @prayuj are looking at this. This is mainly due to a change in cowin portal. They seem to have made the rate limiting more restricted.

[2021-06-02 19:44] sushrut111 commented on #54
Has been completed as part of #72

[2021-06-02 19:44] #54 closed

[2021-06-02 19:45] sushrut111 commented on #38
Thanks @Shweta200126, I did not get time to check this. But this must be helpful I am sure! Thank you for your contribution, I will go through it and update the wiki accordingly.

[2021-06-03 02:13] swapnilt2 opened #81 "Kiwi Browser - District not filled automatically"
Kiwi Browser version: **Latest on Play Store (Git210216Gen570536402_**
Cowin Booking Extension: **v4.0.1 (Latest on Chrome Store)**

When I use this extension on Kiwi browser, district is not filled automatically. As you can see in first frame of video, I have already filled Maharashtra and Mumbai in form and after pressing 'Save Changes' button, 'Maharashtra' is filled automatically, but 'Mumbai'

[2021-06-03 03:46] GAGSKHANNA opened #82 "Automation End To End"
Thanks a lot to you, I was able to book 100’s of slots for my friends, family, maids, my driver etc without your utility it would have been very difficult 🙏
Is it possible to have automation from end to end from reading the otp to booking?

[2021-06-03 07:26] kamlekar opened #83 "Automate OTP entering from mobile browsers"
Looks like OTP entering can be automated as per this article: https://web.dev/web-otp/

There are some demos available online: https://jyotishman.github.io/webOTPAPI/

Can someone please have look at it?

[2021-06-03 07:29] kamlekar opened #84 "Click 'Schedule' button automatically"
I see that when only one member is present, still the 'schedule' button is not clicked automatically.

I think this should be possible if there is one member (thoughts?)

Also, the button should be clicked when 'Reschedule' is visible. (maybe there should be a checkbox to enable reschedule in the extension popup)

[2021-06-03 07:53] sushrut111 commented on #83
Will look into it.

[2021-06-03 07:55] sushrut111 commented on #82
We do not currently have plans for end to end automation - because to enable it, the users may need to have some technical background on different topics -  making it biased towards only those who can do it.

[2021-06-03 07:55] #82 closed

[2021-06-03 08:00] #81 closed

[2021-06-03 08:45] samdsai commented on #84
You are correct, It should also look for "Reschedule ".

[2021-06-03 16:01] AshishNamdev commented on #84
Also if multiple members added but only 1 of them is pending for Dose 1 in that case Schedule button should be clicked automatically.

Similarly in case of Dose 2,  if only 1 member is pending for Dose 2 then also schedule button can be clicked for that member.

To configure Dose 1 or Dose 2, Input Form can be modified in upcoming advanced section, if user selects any Dose Preference then this fea

[2021-06-03 17:25] ipankajsingh opened #85 "No captcha code and now I am getting logged out every single minute."
Is this anyhow related to this extension ? some kind of blacklist or anything

![image](https://user-images.githubusercontent.com/24999656/120686516-ab32de00-c4be-11eb-9478-efad07309d2d.png)

[2021-06-03 17:35] deepak1977 commented on #85
I think captcha is not coming from CoWIn side. So, its a relief for the end users.

[2021-06-03 17:36] ipankajsingh opened #86 "coWIN has removed captcha code."
Just got to know that they have removed the captcha code and decreased the limit to 20 per minute.
and I was thinking why my booking is not getting created automatically.
Please update the extension ASAP so that we can get the dose

[2021-06-03 17:37] ipankajsingh commented on #85
But will the extension work ? coz it is not working at all bcoz it might be trying to fill it and it's not able to so the loop never completes

[2021-06-03 17:38] deepak1977 commented on #84
What if use has logged-in just to cancel some booking or reschedule some booking, so clicking the schedule button would not be required in that case.

[2021-06-03 17:39] lucifer6056 commented on #85
I faced the same issue today at 6 pm no captcha was present, even when I manually tried to select the slots it showed all slots booked for the time slot

[2021-06-03 17:44] AshishNamdev commented on #86
@sushrut111 I  have just noticed  auto confirm code is inside enterCaptcha function, which the following one.

``
setTimeout(() => {

    if (enableautoconfirm) $("ion-button.confirm-btn")[0].click();
  }, 500);
``

And now Cowin Platform have removed CAPTCHA so this could be the probable issue of the click event not happening on `Confirm` button.

Can you please check and confirm so I can take th

[2021-06-03 17:48] sushrut111 commented on #86
@AshishNamdev this is the issue. Feel free to take it up. Thanks

[2021-06-03 17:50] sushrut111 commented on #85
Will be fixed in #86

[2021-06-03 17:50] #85 closed

[2021-06-03 17:50] lucifer6056 opened #87 "Sushrut have you removed the extension from chrome web store"
<img width="960" alt="2021-06-03 (1)" src="https://user-images.githubusercontent.com/85309226/120689546-dd920a80-c4c1-11eb-8087-0ba8d059e4f5.png">
<img width="960" alt="2021-06-03" src="https://user-images.githubusercontent.com/85309226/120689598-ea166300-c4c1-11eb-8dc0-bb9189265ca3.png">
I searched the web store for this extension and sadly no result showed up and when i deeply scrolled down then

[2021-06-03 17:52] ipankajsingh commented on #86
it would be so nice if we can have the new version ASAP. So many slots came and went by

[2021-06-03 17:56] ipankajsingh commented on #86
They might re-introduce it later, so keep a check if captcha present then decode or go ahead

[2021-06-03 18:00] sushrut111 commented on #86
Fixed: https://github.com/sushrut111/cowin-automation-extn/releases/tag/v4.1.1

[2021-06-03 18:00] #86 closed

[2021-06-03 18:04] sushrut111 commented on #87
I removed my extension from chrome store.
My extension is open source so anyone can build over it and distribute it - given they credit my work.

[2021-06-03 18:04] #87 closed

[2021-06-03 18:11] sushrut111 commented on #86
@ipankajsingh taken care of that already.

[2021-06-03 18:51] jujhar18 opened #88 "Add a sound whenever we need to refill otp."
Or maybe its already there and not working for me?

[2021-06-03 19:06] lucifer6056 opened #89 "Do you have any active telegram group"
I want to join for staying updated with the latest extension updates
![image](https://user-images.githubusercontent.com/85309226/120698548-d58b9800-c4cc-11eb-8934-babc3fd83bbc.png)

[2021-06-03 19:33] kapil-15 commented on #88
I am facing the same problem

[2021-06-04 02:10] samdsai opened #90 "Unable to book slot even selected last option in form "Confirm" button "Auto" click."
@sushrut111 , Yesterday I was booking slot for covaxin , I got multiple slot for booking but none of the slot got confirmed even though I have selected "Confirm" button "auto" click option , It was showing the me the slot and stuck on confirmation screen even manually pressing confirm button it was not working . I am not sure it is some issue with browser or my network (Using Ril Dongle not wired

[2021-06-04 04:38] ipankajsingh commented on #86
@sushrut111 extension doesn't work anymore.
Using latest version , even if there is no captcha, it doesn't book nor select the preferred time.

[2021-06-04 04:45] sushrut111 commented on #86
@ipankajsingh which version did you use?

[2021-06-04 04:47] sushrut111 commented on #90
Extension was not working because captcha was removed.
I have fixed it in v4.1.2, download and install from releases.

Find instructions in wiki.

[2021-06-04 04:47] #90 closed

[2021-06-04 04:51] ipankajsingh commented on #86
the one released last night after removing the captcha decode thing.

[2021-06-04 04:54] sushrut111 commented on #86
Would be great if you specify version. Anyway, use v4.1.2 - this is the latest with the fix. Let me know if that doesn't work either.

[2021-06-04 05:12] sushrut111 commented on #83
We cannot use the webOTP api as it requires the SMS to be sent in a particular format which is out of our control.

[2021-06-04 05:12] #83 closed

[2021-06-04 05:13] sushrut111 commented on #89
There is (https://t.me/joinchat/2l17jl8xYRM1NTdl), but this is for general discussion.

[2021-06-04 05:13] #89 closed

[2021-06-04 05:14] ipankajsingh commented on #86
yeah I was on 4.1.1, just tested 4.1.2
It is working but I can't believe that even the automated script isn't fast enough to book a slot.

[2021-06-04 05:14] sushrut111 commented on #88
Seems like a useful suggestion.

[2021-06-04 05:37] sushrut111 commented on #86
There seems to be a competition between script users now.
@ipankajsingh

[2021-06-04 06:21] ipankajsingh commented on #86
Yeah, vaccination has become a hackathon now

[2021-06-04 06:24] ipankajsingh opened #91 "Add "User name" feature"
If possible, add this feature as well, take Name as input and once OTP confirms, "Schedule" button of that User name should be automatically triggered and then the flow continues.
As of now I have to manually select the Schedule button.

There will be a small check there, if the user has selected "18+" in the form but the user belongs to other age group or vice versa then don't click on Schedule b

[2021-06-04 06:53] lucifer6056 commented on #89
thnx just joined

[2021-06-04 07:39] AshishNamdev commented on #84
Totally agree with this 👍

[2021-06-04 08:41] vbnvicky opened #92 "Extension not found on Google Chrome Store"
Unable to see extension on Google ChromeStore
https://chrome.google.com/webstore/detail/cowin-automation/gemdkhkmcnifpfbfnhpbbhageflibppm

Please suggest.

[2021-06-04 10:09] bonyjose opened #93 "Port to Firefox"
can you port this to Firefox and submit in Firefox extension store/it may have a longer chance to survive in the store

[2021-06-04 12:15] s-karanjot commented on #84
@ contributors, I have never worked on chrome extensions but have somehow managed to make changes for automatically inputting the OTP. Can you pls give some idea on how I can implment automatic schedule button click. I don't want code, just an idea of how to implmenet it. Thanks in advance.

[2021-06-04 12:16] sushrut111 commented on #84
@s-karanjot I think that should go to discussions instead of issues. You can start discussion in this repo and we can help you.

[2021-06-04 12:17] sushrut111 commented on #92
@vbnvicky I have taken it down

[2021-06-04 12:17] #92 closed

[2021-06-04 12:18] sushrut111 commented on #93
@bonyjose What do you meant by "it may have longer chance?"

This was available for firefox but some functionalities seem to not work. So I took it down.

[2021-06-04 12:36] sourabhkulkarni5 opened #94 "State and District is always being blank."

[2021-06-04 13:14] sushrut111 commented on #94
- Automatic logout is caused by cowin portal and not the extension.
- About the other issue, I would appreciate if you provide more information.

[2021-06-04 13:24] sourabhkulkarni5 commented on #94
The issue about autofill is....
After logging into the portal,the district and state is not being
automatically filled.
We have to click on the edit autofill and after that we jst have to click
on save changes, without editing anything.
After this process the state and district column is filled automatically.

On Fri, 4 Jun, 2021, 6:44 pm Sushrut Kasture, ***@***.***>
wrote:

[2021-06-04 14:29] kamlekar commented on #94
Is it not automatically filling even after you provide the State and District in the popups?

The names are case-sensitive. please check once.

[2021-06-04 15:19] Dhanushrajashekar opened #95 "The page automatically logs out after 5 mins exactly"
And  i found 2 or 3 slot booking but it aint showing captcha in it i think they removed the captcha its only showing the time and confirm button

[2021-06-04 15:30] vickusah opened #96 "Extension removed from chrome store"
![Screenshot (16)](https://user-images.githubusercontent.com/30171144/120826581-3c19c000-c578-11eb-8f63-f7e74a30f9de.png)
why i'm not able to find your extension, whenever i search it show me error "404. That’s an error.

The requested URL was not found on this server. That’s all we know."

[2021-06-04 15:50] sourabhkulkarni5 commented on #94
Yes sir i have used the case as you have mentioned in the instructions.
But still sometimes it doesn't fill automatically.

As i have said before i have to click ok edit autofill and without changing
i jst click on save changes and then it fills automatically.

And it happens almost every time after logging in

On Fri, 4 Jun, 2021, 7:59 pm Venkateshwar, ***@***.***> wrote:

[2021-06-04 16:46] Dhanushrajashekar commented on #96
Try to load the extension manually by downloading the zip file. It will work

[2021-06-04 17:24] anant0206 opened #98 "Multiple districts search"
Can there be an option to search for multiple districts within a state? For example, in Delhi - one district has only 2-3 relevant centers, but all districts are equally accessible.

[2021-06-04 18:40] Shweta200126 commented on #98
@anant0206 just to add, I think it's a very nice idea but since cowin website only allows one district at a time, maybe we can do a kind of loop refreshing for districts. Like it refreshes page after 15 sec suppose and changes it to another district, so one would know if there is availabilty in one district or another or not.

[2021-06-04 19:34] kapil-15 opened #99 "Delay and random clicking of selected filters"
I use 4 filters and all 4 filters are clicked RANDOMLY [Age 18/Covaxin/Paid/Free] with a maximum delay of 2 Second which has caused me to book a different vaccine which I didn't want to and it misses the slot.

[2021-06-05 04:27] AshishNamdev commented on #88
This doesn't seems to be a major change.

@sushrut111 let me try to implement this one.

You can upload the proper audio file on your gh-pages link, where you have uploaded other audio files and just share me the link.

[2021-06-05 12:28] dAKsh-Mido commented on #99
This would be treated as User Fault and in this time don't select what vaccine you want just book one which comes all vaccines are good.

P.S: This Issue is treated as Close Now

[2021-06-05 15:22] AshishNamdev commented on #98
In such case, if vaccine is not available in one district but available in another, it will be selected and proceed for booking the slot.
If user have selected `Auto Confirm` in the form ( which is the case for most of the users) the slot will be booked in another district, which user might not want, and vaccine slot will be wasted.

So it will not serve the purpose.

[2021-06-05 16:47] Shweta200126 commented on #98
No, look at it this way; where I live I can easily travel between two districts but I don't have the option for it which is why I said it will be beneficial for people like me.

[2021-06-06 03:52] bonyjose commented on #93
I meant the addon will have a greater chance to survive in the firetox extension store, because i assumed the extension is no longer available in chrome store because it might not be following the store guidelines.

[2021-06-06 04:07] sushrut111 commented on #93
It is not available in chrome store because I took it down.

[2021-06-06 04:52] AshishNamdev commented on #98
In conditions like this, there will be very few limited number of users for this feature.

Also keep in mind Cowin portal allows limited number of search after which it forcefully log out the user and disable `Get OTP` button for 180 seconds.

I suggest we should close this issue and open Discussion about this.

[2021-06-06 06:46] sharan698 opened #102 "Error 404"
wasnt able to open the site because of error 404 not found

[2021-06-06 09:56] sushrut111 commented on #49
@bpanigrahi @prayuj Finally wrote it down: http://bit.ly/captcha-decode-dev

[2021-06-06 09:56] #49 closed

[2021-06-06 13:32] sushrut111 commented on #102
What site?
I guess you are talking about extension on chrome store.
I have taken it down.
You can install it from here, find instructions in wiki.

[2021-06-06 13:32] #102 closed

[2021-06-06 13:35] sushrut111 commented on #99
But the booking click is synchronised with the filter clicks. I would like to see it in action, can you tell me how I can reproduce it?

[2021-06-06 13:37] sushrut111 commented on #98
I agree with Ashish, there isn't a lot of utility for the feature.
But if one wants to work on it, I am okay with that.

[2021-06-06 13:38] sushrut111 commented on #96
I have taken down the extension from chrome store.

[2021-06-06 13:38] #96 closed

[2021-06-06 13:39] sharan698 commented on #102
Okay thanks

On Sun, 6 Jun, 2021, 19:02 Sushrut Kasture, ***@***.***>
wrote:

[2021-06-06 13:51] Samir027 opened #103 "Confirm booking automatically on captcha page-not working"
I tried booking the vaccine slot, though the slots are available and I have opted for automated confirmation. The slot is not getting confirmed on cowin

[2021-06-06 13:53] gdosh commented on #95
I believe the logout is from the server side. Ie: CoWin portal. The portal is logging you out because of excess API calls from your IP.
If you increase the refresh interval to say about 40-50, it will log you out after about 12-13 minutes.

[2021-06-06 16:31] cool2srik1 opened #104 "OTP auto read"
Any possibility of an OTP auto read when installed on phones?

[2021-06-06 16:42] Dhanushrajashekar commented on #95
What about the captcha bro? CAPTCHA is not shown in the booking slot

[2021-06-06 16:47] Samir027 commented on #103
The captcha is removed from the confirmation page. I tried booking the vaccine slot, though the slots are available and I have opted for automated confirmation. The slot is not getting confirmed on cowin

[2021-06-07 02:45] AshishNamdev commented on #103
Which version of this extension are you using.?
Pelase use the latest releaed version, it Already have fix for this issue.

[2021-06-07 03:11] Samir027 commented on #103
I have been using the latest release 4.1.2

[2021-06-07 03:28] sushrut111 commented on #104
No.
Also beware of the extensions/applications that provide this service by reading SMS in your phone. By allowing that, you give access to all kind of messages/bank OTPs/personal information - this can be proven dangerous.

[2021-06-07 03:28] #104 closed

[2021-06-07 03:29] sushrut111 commented on #103
You probably have wrong version installed or you have not uninstalled older version.
If you are sure that you have only one version of extension installed and that is v4.1.2, please record your screen when that happens, preferably with keeping console open (press F12 to open it).

[2021-06-07 10:04] #93 closed

[2021-06-07 10:05] sushrut111 commented on #95
1. Captcha is removed
2. It's not 5 minutes, it's 20 requests - after which you will be logged out

[2021-06-07 10:05] #95 closed

[2021-06-07 10:06] sushrut111 commented on #91
OTP reading will not be added as I do not want to request access to users' incoming messages.

[2021-06-07 10:07] sushrut111 commented on #80
Too many requests error is gone now by design of the cowin portal.

[2021-06-07 10:07] #80 closed

[2021-06-07 11:25] gdosh commented on #94
are you using firefox? these are known issues on firefox browser

[2021-06-07 12:03] sourabhkulkarni5 commented on #94
No sir I'm using Google Chrome

On Mon, 7 Jun, 2021, 4:55 pm gdosh, ***@***.***> wrote:

[2021-06-07 12:32] cool2srik1 opened #108 "Otp not getting generated. Cowin giving error"
It seems cowin has blocked my number and is not allowing me to generate new otp.

Any others facing this issue?
![IMG_20210607_180153](https://user-images.githubusercontent.com/85451523/121017069-7d011700-c7ba-11eb-8aa3-f317e8ffb8fb.jpg)

[2021-06-07 13:03] gdosh commented on #108
Yes. Me too.i could log in at 2pm today. But when I tried again at 430 pm... I got error.
Are they shadow banning phone numbers now ?
My brother in law can log in from his number, same IP.

[2021-06-07 13:05] gdosh commented on #108
The phone number is blocked.
I've tried 4 diff numbers from same IP.
All of them recvd OTP.
But the nunber used with the CoWin extension does not receive OTP. They may have blacklisted these numbers.
Which would be a very petty move by GOI.

[2021-06-07 15:14] gdosh commented on #108
Update..
CoWin Technical Help Center does not know how this has happened, or what to do In order to rectify the problem.
Personally feel they have shadow banned numbers with frequent API calls and this is a server side error and  not a problem with the Extension per se.

[2021-06-08 06:34] cool2srik1 commented on #108
Yeah i dont think its a problem with the extension as well. But essential to note that this might happen with frequent hits from same number. So just need to be careful not to use the same number on which you might have already taken a first dose to book for others.

[2021-06-08 12:19] gdosh opened #109 "URGENT !! Cowin is BLOCKING NUMBERS."
This is not an error.
But I didn't know where else to make it known.

Past 2 days I was Unable to login due to NO OTP.

Contacted CoWin Technical support, they said that I generated > 200 OTP in 24 hrs ((I didn't- I go online for 3 hrs per day. max I generate is 80-90 OTP)).
Anyways, they banned my number for "असामान्य गतिविड़ी" means = abnormal activity.

They said to try logging in after maybe 24

[2021-06-08 15:17] dbn1972 commented on #108
Cowin is blocking mobile nos who are hitting the servers , one of my friend told he got the call from the cowin  team  initiating blocking his no permanently.

[2021-06-08 17:09] sushrut111 commented on #109
Ohh, didn't notice any such thing yet.
Thanks for letting us know.

You probably want to start a discussion.

[2021-06-08 17:09] #109 closed

[2021-06-08 17:28] cool2srik1 commented on #108
Yep confirmed
![IMG_20210608_225029](https://user-images.githubusercontent.com/85451523/121230607-13156a00-c8ad-11eb-9ef5-25d075c42172.jpg)

[2021-06-09 04:50] DakshK579 commented on #103
The guy is not telling more details after all so this issue can be saved as resolved now

[2021-06-09 06:47] DakshK579 commented on #108
This here requires more justification but dont worry cowin saying its an system glitch and affected users to wait for 24hrs

[2021-06-09 07:19] dbn1972 commented on #108
Officially cowin now blocking all the mobile nos running bots or violating their terms of service ,please go through it.

[2021-06-09 08:07] DakshK579 commented on #108
Brother i also use and i dont face any of this issue you should always login when slots come in your area and dont use auto refresh

[2021-06-09 08:07] DakshK579 commented on #108
in group no one having this issue at all

[2021-06-09 08:17] samdsai commented on #108
I too facing this issue since last 2 days .I am not sure are they really going to unblock the mobile after 24 hrs , Now for me it is more than 48 hrs  still facing same issue.

[2021-06-09 08:59] cool2srik1 commented on #108
Lol. These are some new rules. Dont count on it though, they might block any number which uses bots.  We wouldn't be fighting so hard for slots had there been enough vaccines or of there was a better system. Thanks to people like shushrut some of us have been able to book slots. But now it seems to me we have to again toil to book slots manually.

And I dont know what  will happen to those people

[2021-06-09 08:59] #108 closed

[2021-06-09 10:31] #103 closed

[2021-06-09 10:32] sushrut111 commented on #99
Assuming you are not able to reproduce, closing this. Reopen if needed.

[2021-06-09 10:32] #99 closed

[2021-06-09 12:57] aneeshs005 opened #110 "Create an audio message when the page loads with vaccine slot available"
An audio alarm to alert the user when a vaccine slot is available would be a useful feature

[2021-06-09 14:06] Sarangm3 opened #111 "ADD date"
plz give option of date
bcoz some time i got today vaccine but i want  tomorrow.

[2021-06-09 14:20] lucifer6056 commented on #111
Just enter 1 in the field "skip days" and tomorrow's slot will be selected

[2021-06-09 14:23] dhruv5harma opened #112 "hard reset cache before clicking calling search API"
I am not able to see slots on browser while extn refreshing the page as its Loding page from same cache, meanwhile if i open the same page in incognito mode i am able to see the new slots

[2021-06-09 14:24] dhruv5harma commented on #112
when i do something like ctrl+f5, i am able to see new slots

[2021-06-09 14:25] dhruv5harma commented on #112
FYR : https://www.youtube.com/watch?v=hf44_-qqddY

[2021-06-09 14:25] Sarangm3 commented on #111
thx

[2021-06-09 15:54] sushrut111 commented on #112
Saw the video. Great finding.
However, I do not plan to add cache clearing mechanism to the extention.

Just in case if any reader thinks that extension is causing the stale results, please be informed that caching is added by cowin portal itself and extension does not play with it.

[2021-06-09 15:54] #112 closed

[2021-06-10 04:50] #111 closed

[2021-06-14 06:48] ajayk09 opened #115 "please send me extension"
Hello Sushrut,

Please send me covid online slot booking extension file to newajay@gmail.com

Please, needed

Thanks
AK

[2021-06-14 14:29] hpk22 commented on #115
Please check my mail hrutvijkakade123@gmail.com

[2021-06-15 13:00] sushrut111 commented on #115
You can get it from this repository

[2021-06-15 13:00] #115 closed, assigned to nobody

[2021-09-02 00:44] Patilsabar commented on #110
message when the page loads when vaccine slot is available on mob:6297891441

[2021-09-24 08:31] arshnirmal opened #119 "18+ filter"
Even when 18+ box is checked, it doesn't selects the 18+ box on Cowin website.
![image](https://user-images.githubusercontent.com/80117575/134643605-602e9589-ef90-47ec-9b11-95e71ac6fdbb.png)
![image](https://user-images.githubusercontent.com/80117575/134643685-e6951e2f-9e06-490c-a0bc-a28d2df9d851.png)

[2021-10-01 05:08] sushrut111 commented on #119
The 18 & Above filter is introduced recently, will need to fix this.